<!--
  Generated template for the NinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title>9.9精选</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentModel" mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="-1">
        精选
      </ion-segment-button>
      <ion-segment-button value="1">
        居家百货
      </ion-segment-button>
      <ion-segment-button value="2">
        美食
      </ion-segment-button>
      <ion-segment-button value="3">
        服饰
      </ion-segment-button>
      <ion-segment-button value="4">
        配饰
      </ion-segment-button>
      <ion-segment-button value="5">
        美妆
      </ion-segment-button>
      <ion-segment-button value="6">
        内衣
      </ion-segment-button>
      <ion-segment-button value="7">
        母婴
      </ion-segment-button>
      <ion-segment-button value="8">
        箱包
      </ion-segment-button>
      <ion-segment-button value="9">
        数码配件
      </ion-segment-button>
      <ion-segment-button value="10">
        文娱车品
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-go-home></ion-go-home>

  <div [ngSwitch]="segmentModel">
    <ion-list *ngSwitchCase="'-1'">

      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of zero" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="zeroban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteZero($event)" *ngIf="!zeroban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-list>
    <ion-list *ngSwitchCase="'1'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of one" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="oneban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteOne($event)" *ngIf="!oneban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

    <ion-list *ngSwitchCase="'2'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of two" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="twoban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteTwo($event)" *ngIf="!twoban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'3'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of three" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="threeban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteThree($event)" *ngIf="!threeban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'4'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of four" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="fourban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteFour($event)" *ngIf="!fourban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'5'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of five" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="fiveban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteFive($event)" *ngIf="!fiveban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'6'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of six" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="sixban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteSix($event)" *ngIf="!sixban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'7'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of seven" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="sevenban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteSeven($event)" *ngIf="!sevenban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'8'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of eight" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="eightban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteEight($event)" *ngIf="!eightban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'9'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of nine" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="nineban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteNine($event)" *ngIf="!nineban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>


    <ion-list *ngSwitchCase="'10'">
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let item of ten" tappable (click)="onItem(item)">
            <samp class="info" *ngIf="item.commissionRate && item.commission > 0">佣金约{{item.commission }}</samp>
            <img [src]="item.mainPic" />
            <p class="titel"><span *ngIf="item.tchaoshi == 1">天猫</span>{{item.title}}</p>
            <ion-row>
              <ion-col col-7 class="border">
                <p class="red">￥{{item.actualPrice}} <samp class="yuanjia">￥{{item.originalPrice}}</samp></p>
              </ion-col>
              <ion-col col-5 text-right class="border" *ngIf="item.couponPrice">
                <p><samp text-right class="juan overflow">{{item.couponPrice}}元卷</samp></p>
              </ion-col>
            </ion-row>
            <p class="yishou">已抢 {{item.monthSales}}</p>

          </ion-col>
        </ion-row>
      </ion-grid>
      <p text-center class="dixian" *ngIf="tenban">-----已经到底啦！我也是有底线的-----</p>
      <ion-infinite-scroll (ionInfinite)="doInfiniteTen($event)" *ngIf="!tenban">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="努力加载中..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

  </div>
</ion-content>