page-forgot-password {
    .item-ios {
        padding: 0 16px 0 16px;
        border-bottom: 1px solid #dfdfdf;
        position: relative;
        font-size: 1.5rem;
        min-height: 3.5rem;
        height: 3.5rem;
        color: #000;
    }
    .register-buttom{
        height: 3.5rem;
    }

    .mail-buttom{
        width: 50px !important;
        height: 20px !important;
    }
}
