<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>重置密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="forgotForm" (ngSubmit)="(confirm(forgotForm.value))">
    <ion-list>

      <ion-item>
        <ion-label fixed>手机号</ion-label>
        <ion-input type="email" formControlName="username" placeholder="请输入手机号码"></ion-input>
      </ion-item>
      <span padding-left *ngIf="!forgotForm.controls.username.valid && forgotForm.controls.username.touched" class="validation-failed">*请输入正确的手机号码</span>

      <ion-item>
        <ion-label fixed>手机验证码</ion-label>
        <ion-input type="text" formControlName="mailCode" placeholder="请输入手机验证码"></ion-input>
        <button item-right ion-button round type="button" class="mail-buttom" (click)="getMailCode(forgotForm.value)"
          [disabled]="!forgotForm.controls.username.valid || submitted ">{{btTimeText}}</button>
      </ion-item>
      <span padding-left *ngIf="!forgotForm.controls.mailCode.valid && forgotForm.controls.mailCode.touched" class="validation-failed">
        *请输入手机验证码
      </span>


      <ion-item>
        <ion-label fixed>密码</ion-label>
        <ion-input type="password" formControlName="password" placeholder="请输入密码"></ion-input>
      </ion-item>
      <span padding-left *ngIf="!forgotForm.controls.password.valid && forgotForm.controls.password.touched" class="validation-failed">*密码长度不少于4，至少含有一个字母与数字</span>


    </ion-list>
    <div padding-horizontal>
      <button ion-button full round type="submit" [disabled]="!forgotForm.valid  || isInvite " class="register-buttom">重置密码</button>
    </div>
  </form>
</ion-content>
