page-open-url {
    #iframe{
        height: 100%;
        width: 100%;
        margin-left: -2px;
    }

    .fab {
        background-color: rgba(255,0,0,0.5) !important;
        left: 20px;
        font-size: 1rem;
    }
}
